
  <footer>
        <div class="container">
            <div class="footer_main">
                <div class="footer_left">
                    <figure>
                        <a href="#">
                            <img src="{{ section.settings.logo | img_url: 'original' }} " alt="">
                        </a>
                    </figure>
                    <div class="c_contact">
                        <p>13916 Leetsbir Rd
                            Sturtevant, WI 53177
                        </p>

                        <a href="tel:(800) 236-1366" class="number">
                            (800) 236-1366
                        </a>

                        <span>
                            (262) 884-9317 Fax
                        </span>

                        <a href="mailto:sales@greatlakesbio.com" class="email">
                            sales@greatlakesbio.com

                        </a>
                    </div>
                  {% if section.settings.show_icons != true %}
                    <div class="social_icons" style="display:none">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg width="9" height="18" viewBox="0 0 9 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.1976 18V9.55388H0V6.51287H2.1976V3.91545C2.1976 1.87438 3.49573 0 6.4869 0C7.69798 0 8.59352 0.11799 8.59352 0.11799L8.52295 2.95778C8.52295 2.95778 7.60965 2.94874 6.61301 2.94874C5.53435 2.94874 5.36153 3.45391 5.36153 4.29237V6.51287H8.6087L8.46741 9.55388H5.36153V18H2.1976Z"
                                            fill="#5A5A5A" />
                                    </svg>

                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.6878 1.89294C18.9636 2.21427 18.1858 2.4315 17.368 2.52914C18.2026 2.02936 18.842 1.23739 19.1439 0.294802C18.3511 0.765692 17.4834 1.0972 16.5786 1.27492C15.8423 0.490033 14.7922 0 13.6305 0C11.4007 0 9.59235 1.80765 9.59235 4.03876C9.59235 4.35488 9.62795 4.66329 9.6964 4.9594C6.33973 4.7907 3.36382 3.18282 1.37188 0.739637C1.02407 1.33633 0.824976 2.03009 0.824976 2.7703C0.824976 4.17133 1.53808 5.40746 2.62163 6.13157C1.98018 6.11169 1.35282 5.93855 0.791977 5.62662V5.67766C0.791977 7.63466 2.18393 9.26647 4.03167 9.6376C3.69224 9.7306 3.33603 9.77919 2.96752 9.77919C2.70696 9.77919 2.45418 9.75453 2.20723 9.70808C2.7212 11.3121 4.21277 12.4797 5.9796 12.5127C4.59735 13.5962 2.85564 14.2421 0.963958 14.2421C0.638138 14.2421 0.316124 14.2227 0 14.1846C1.78763 15.3308 3.91015 16 6.19105 16C13.6195 16 17.6822 9.84581 17.6822 4.50883C17.6822 4.33361 17.6784 4.1597 17.6699 3.98642C18.4615 3.41389 19.1447 2.705 19.6878 1.89294Z"
                                            fill="#5A5A5A" />
                                    </svg>

                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.2802 2.50346C22.0184 1.51804 21.2474 0.741958 20.2683 0.478583C18.4937 0 11.3778 0 11.3778 0C11.3778 0 4.26197 0 2.48734 0.478583C1.5083 0.742 0.737211 1.51804 0.475502 2.50346C0 4.28958 0 8.01617 0 8.01617C0 8.01617 0 11.7428 0.475502 13.5289C0.737211 14.5143 1.5083 15.258 2.48734 15.5214C4.26197 16 11.3778 16 11.3778 16C11.3778 16 18.4937 16 20.2683 15.5214C21.2474 15.258 22.0184 14.5143 22.2802 13.5289C22.7557 11.7428 22.7557 8.01617 22.7557 8.01617C22.7557 8.01617 22.7557 4.28958 22.2802 2.50346ZM9.05053 11.3996V4.63271L14.998 8.01625L9.05053 11.3996Z"
                                            fill="#5A5A5A" />
                                    </svg>


                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.27476 18V5.85543H0.238158V18H4.27476ZM2.25698 4.1963C3.66462 4.1963 4.5408 3.26374 4.5408 2.09835C4.51457 0.906677 3.66467 0 2.28369 0C0.902933 0 0 0.906695 0 2.09835C0 3.26379 0.875969 4.1963 2.23063 4.1963H2.25686H2.25698ZM6.50901 18H10.5456V11.2179C10.5456 10.8549 10.5718 10.4923 10.6784 10.2328C10.9702 9.50764 11.6344 8.75654 12.7495 8.75654C14.2102 8.75654 14.7945 9.87024 14.7945 11.5028V17.9999H18.8309V11.0363C18.8309 7.30599 16.8394 5.57031 14.1836 5.57031C12.006 5.57031 11.0499 6.78751 10.5188 7.61653H10.5457V5.85518H6.5091C6.56207 6.99476 6.5091 17.9997 6.5091 17.9997L6.50901 18Z"
                                            fill="#5A5A5A" />
                                    </svg>

                                </a>
                            </li>
                        </ul>
                    </div>
                 {% else %}
                     <div class="social_icons" style="display:block">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg width="9" height="18" viewBox="0 0 9 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.1976 18V9.55388H0V6.51287H2.1976V3.91545C2.1976 1.87438 3.49573 0 6.4869 0C7.69798 0 8.59352 0.11799 8.59352 0.11799L8.52295 2.95778C8.52295 2.95778 7.60965 2.94874 6.61301 2.94874C5.53435 2.94874 5.36153 3.45391 5.36153 4.29237V6.51287H8.6087L8.46741 9.55388H5.36153V18H2.1976Z"
                                            fill="#5A5A5A" />
                                    </svg>

                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.6878 1.89294C18.9636 2.21427 18.1858 2.4315 17.368 2.52914C18.2026 2.02936 18.842 1.23739 19.1439 0.294802C18.3511 0.765692 17.4834 1.0972 16.5786 1.27492C15.8423 0.490033 14.7922 0 13.6305 0C11.4007 0 9.59235 1.80765 9.59235 4.03876C9.59235 4.35488 9.62795 4.66329 9.6964 4.9594C6.33973 4.7907 3.36382 3.18282 1.37188 0.739637C1.02407 1.33633 0.824976 2.03009 0.824976 2.7703C0.824976 4.17133 1.53808 5.40746 2.62163 6.13157C1.98018 6.11169 1.35282 5.93855 0.791977 5.62662V5.67766C0.791977 7.63466 2.18393 9.26647 4.03167 9.6376C3.69224 9.7306 3.33603 9.77919 2.96752 9.77919C2.70696 9.77919 2.45418 9.75453 2.20723 9.70808C2.7212 11.3121 4.21277 12.4797 5.9796 12.5127C4.59735 13.5962 2.85564 14.2421 0.963958 14.2421C0.638138 14.2421 0.316124 14.2227 0 14.1846C1.78763 15.3308 3.91015 16 6.19105 16C13.6195 16 17.6822 9.84581 17.6822 4.50883C17.6822 4.33361 17.6784 4.1597 17.6699 3.98642C18.4615 3.41389 19.1447 2.705 19.6878 1.89294Z"
                                            fill="#5A5A5A" />
                                    </svg>

                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M22.2802 2.50346C22.0184 1.51804 21.2474 0.741958 20.2683 0.478583C18.4937 0 11.3778 0 11.3778 0C11.3778 0 4.26197 0 2.48734 0.478583C1.5083 0.742 0.737211 1.51804 0.475502 2.50346C0 4.28958 0 8.01617 0 8.01617C0 8.01617 0 11.7428 0.475502 13.5289C0.737211 14.5143 1.5083 15.258 2.48734 15.5214C4.26197 16 11.3778 16 11.3778 16C11.3778 16 18.4937 16 20.2683 15.5214C21.2474 15.258 22.0184 14.5143 22.2802 13.5289C22.7557 11.7428 22.7557 8.01617 22.7557 8.01617C22.7557 8.01617 22.7557 4.28958 22.2802 2.50346ZM9.05053 11.3996V4.63271L14.998 8.01625L9.05053 11.3996Z"
                                            fill="#5A5A5A" />
                                    </svg>


                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.27476 18V5.85543H0.238158V18H4.27476ZM2.25698 4.1963C3.66462 4.1963 4.5408 3.26374 4.5408 2.09835C4.51457 0.906677 3.66467 0 2.28369 0C0.902933 0 0 0.906695 0 2.09835C0 3.26379 0.875969 4.1963 2.23063 4.1963H2.25686H2.25698ZM6.50901 18H10.5456V11.2179C10.5456 10.8549 10.5718 10.4923 10.6784 10.2328C10.9702 9.50764 11.6344 8.75654 12.7495 8.75654C14.2102 8.75654 14.7945 9.87024 14.7945 11.5028V17.9999H18.8309V11.0363C18.8309 7.30599 16.8394 5.57031 14.1836 5.57031C12.006 5.57031 11.0499 6.78751 10.5188 7.61653H10.5457V5.85518H6.5091C6.56207 6.99476 6.5091 17.9997 6.5091 17.9997L6.50901 18Z"
                                            fill="#5A5A5A" />
                                    </svg>

                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                                          
                <div class="footer_center">
                  {% for block in section.blocks %}
                    {% if block.type == "slide" %}
                    <div class="links f_list col4 col">
                       {%- for link in block.settings.menu_link_o.links -%}
                          {%- if link.links != blank -%}
                        <h6>
                          {{ link.title | escape }}
                        </h6>
                        <ul>
                              {%- for childlink in link.links -%}
                            <li>
                                {%- if childlink.links == blank -%}
                                <a href="#">
                                   {{ childlink.title | escape }}
                                </a>
                             {% endif %}
                            </li>
                         {% endfor %}
                        </ul>
                            {% endif %}
                         {% endfor %}
                    </div>

                      {% endif %}   
                   
                    {% if  block.type == "newsletter" %}
                                <div class="links t_list col4 col">
                                      <h6>
                                          Subscribe to our newsletter
                                      </h6>
                                      <p>Get latest update and news</p>
                                      <form action="#">
                                          <input type="text" placeholder="Email Address">
                                          <button type="submit" class="btn">
                                              <svg width="11" height="19" viewBox="0 0 11 19" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M2 17L8.72609 9.5L2 2" stroke="white" stroke-width="3" />
                                              </svg>
              
                                          </button>
                                      </form>
                                  </div>
                      {% endif %}   


                                                    
                   {% if block.type == "info" %}
                     <div class="fr_bottom col4 col">
                    <div class="links six_list">
                       {%- for link in block.settings.menu_link_th.links -%}
                          {%- if link.links != blank -%}
                        <h6>
                          {{ link.title | escape }}
                        </h6>
                        <ul>
                              {%- for childlink in link.links -%}
                            <li>
                                {%- if childlink.links == blank -%}
                                <a href="#">
                                   {{ childlink.title | escape }}
                                </a>
                             {% endif %}
                            </li>
                         {% endfor %}
                        </ul>
                            {% endif %}
                         {% endfor %}
                    </div>


  <figure>

                            <svg width="85" height="119" viewBox="0 0 85 119" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M73.5585 113.273V113.241C73.5543 111.713 74.153 110.247 75.2229 109.164C76.2928 108.081 77.7462 107.47 79.2634 107.466C80.7807 107.461 82.2374 108.064 83.3132 109.141C84.389 110.218 84.9958 111.682 85 113.209V113.241C85.0042 114.768 84.4055 116.235 83.3356 117.318C82.2657 118.401 80.8123 119.012 79.295 119.016C77.7778 119.02 76.321 118.418 75.2452 117.341C74.1694 116.263 73.5627 114.8 73.5585 113.273ZM84.4785 113.241V113.209C84.4764 112.522 84.3399 111.841 84.0767 111.207C83.8135 110.573 83.4287 109.997 82.9445 109.512C82.4602 109.028 81.8859 108.644 81.2543 108.383C80.6227 108.122 79.9462 107.989 79.2634 107.991C78.5807 107.993 77.905 108.13 77.275 108.395C76.645 108.66 76.073 109.047 75.5916 109.535C75.1103 110.023 74.7291 110.601 74.4697 111.237C74.2103 111.872 74.0779 112.553 74.08 113.241V113.273C74.0821 113.96 74.2186 114.64 74.4818 115.275C74.745 115.909 75.1297 116.485 75.614 116.969C76.0983 117.454 76.6726 117.838 77.3042 118.099C77.9358 118.36 78.6123 118.493 79.295 118.491C79.9778 118.489 80.6535 118.352 81.2835 118.087C81.9135 117.822 82.4855 117.434 82.9668 116.947C83.4481 116.459 83.8294 115.881 84.0888 115.245C84.3481 114.609 84.4805 113.928 84.4785 113.241ZM77.0352 110.123H79.669C80.3068 110.093 80.9308 110.315 81.4074 110.743C81.5603 110.891 81.6814 111.069 81.763 111.266C81.8445 111.463 81.8849 111.675 81.8815 111.889V111.92C81.8815 112.875 81.2494 113.448 80.3644 113.655L82.1817 116.025H81.0966L79.4057 113.798H77.9044V116.025H77.0352V110.123ZM79.5795 113.018C80.4013 113.018 80.9702 112.636 80.9702 111.957V111.926C80.9702 111.305 80.4645 110.907 79.6269 110.907H77.9044V113.008L79.5795 113.018Z"
                                    fill="#015A75" />
                                <path
                                    d="M64.664 118.61H7.15619C5.34179 118.594 3.60819 117.853 2.33607 116.55C1.06395 115.247 0.357326 113.49 0.37136 111.663V7.32667C0.357326 5.50001 1.06395 3.74241 2.33607 2.43984C3.60819 1.13726 5.34179 0.396202 7.15619 0.379395H64.664C66.4784 0.396202 68.212 1.13726 69.4841 2.43984C70.7562 3.74241 71.4628 5.50001 71.4488 7.32667V111.663C71.4635 113.49 70.7572 115.249 69.485 116.552C68.2128 117.855 66.4788 118.596 64.664 118.613"
                                    fill="white" />
                                <path
                                    d="M64.664 118.61H7.15619C5.34179 118.594 3.60819 117.853 2.33607 116.55C1.06395 115.247 0.357326 113.49 0.37136 111.663V7.32667C0.357326 5.50001 1.06395 3.74241 2.33607 2.43984C3.60819 1.13726 5.34179 0.396202 7.15619 0.379395H64.664C66.4784 0.396202 68.212 1.13726 69.4841 2.43984C70.7562 3.74241 71.4628 5.50001 71.4488 7.32667V111.663C71.4628 113.49 70.7562 115.247 69.4841 116.55C68.212 117.853 66.4784 118.594 64.664 118.61V118.61Z"
                                    stroke="#005F84" />
                                <path
                                    d="M64.6639 0.132568C66.5423 0.150775 68.3369 0.91843 69.6538 2.2671C70.9707 3.61577 71.7024 5.4353 71.6884 7.32645V111.663C71.7024 113.554 70.9707 115.374 69.6538 116.722C68.3369 118.071 66.5423 118.839 64.6639 118.857H7.15617C5.27773 118.839 3.48318 118.071 2.16626 116.722C0.849343 115.374 0.11763 113.554 0.131668 111.663V7.32645C0.11763 5.4353 0.849343 3.61577 2.16626 2.2671C3.48318 0.91843 5.27773 0.150775 7.15617 0.132568H64.6639ZM64.6639 0.623121H7.15617C5.40581 0.639926 3.73357 1.3552 2.50647 2.61195C1.27938 3.86869 0.597695 5.56424 0.611031 7.32645V111.663C0.597695 113.425 1.27938 115.121 2.50647 116.377C3.73357 117.634 5.40581 118.349 7.15617 118.366H64.6639C66.4143 118.349 68.0865 117.634 69.3136 116.377C70.5407 115.121 71.2224 113.425 71.209 111.663V7.32645C71.2224 5.56424 70.5407 3.86869 69.3136 2.61195C68.0865 1.3552 66.4143 0.639926 64.6639 0.623121Z"
                                    fill="#015A75" />
                                <path
                                    d="M64.6639 0.132568C66.5423 0.150775 68.3369 0.91843 69.6538 2.2671C70.9707 3.61577 71.7024 5.4353 71.6884 7.32645V111.663C71.7024 113.554 70.9707 115.374 69.6538 116.722C68.3369 118.071 66.5423 118.839 64.6639 118.857H7.15617C5.27773 118.839 3.48318 118.071 2.16626 116.722C0.849343 115.374 0.11763 113.554 0.131668 111.663V7.32645C0.11763 5.4353 0.849343 3.61577 2.16626 2.2671C3.48318 0.91843 5.27773 0.150775 7.15617 0.132568H64.6639ZM64.6639 0.623121H7.15617C5.40581 0.639926 3.73357 1.3552 2.50647 2.61195C1.27938 3.86869 0.597695 5.56424 0.611031 7.32645V111.663C0.597695 113.425 1.27938 115.121 2.50647 116.377C3.73357 117.634 5.40581 118.349 7.15617 118.366H64.6639C66.4143 118.349 68.0865 117.634 69.3136 116.377C70.5407 115.121 71.2224 113.425 71.209 111.663V7.32645C71.2224 5.56424 70.5407 3.86869 69.3136 2.61195C68.0865 1.3552 66.4143 0.639926 64.6639 0.623121V0.623121Z"
                                    stroke="#015A75" />
                                <path
                                    d="M69.5129 95.3789V111.777C69.5241 113.112 69.0083 114.397 68.0788 115.35C67.1494 116.302 65.8823 116.845 64.5559 116.857H7.04556C6.38815 116.851 5.7384 116.714 5.13344 116.455C4.52848 116.196 3.98017 115.819 3.51984 115.347C3.05951 114.874 2.69617 114.315 2.4506 113.701C2.20503 113.087 2.08203 112.43 2.08863 111.769V95.3789H69.5155"
                                    fill="#005F84" />
                                <path
                                    d="M71.6884 94.4485V112.71C71.6884 115.831 69.3469 118.366 66.4602 118.366H5.83924C2.94199 118.366 0.611023 115.831 0.611023 112.71V94.4485H71.6884Z"
                                    fill="#015A75" />
                                <path
                                    d="M9.14212 99.3115H10.3669L12.956 105.546H11.5679L11.0148 104.159H8.45995L7.90158 105.546H6.55304L9.14212 99.3115ZM10.5354 102.955L9.74528 100.948L8.95512 102.955H10.5354ZM13.2351 102.47V102.454C13.224 102.032 13.298 101.612 13.4527 101.22C13.6073 100.828 13.8394 100.472 14.1349 100.172C14.4304 99.8731 14.7831 99.6374 15.1717 99.4794C15.5603 99.3214 15.9768 99.2445 16.3958 99.2532C16.8356 99.2331 17.2747 99.3078 17.6835 99.4725C18.0924 99.6371 18.4615 99.8878 18.7663 100.208L17.9102 101.213C17.5075 100.782 16.9513 100.53 16.3642 100.513C15.3449 100.513 14.61 101.38 14.61 102.44V102.459C14.61 103.52 15.3264 104.403 16.3642 104.403C17.0542 104.403 17.4783 104.119 17.9445 103.679L18.79 104.554C18.3669 105.046 17.8046 105.397 17.1783 105.559C16.5521 105.721 15.8916 105.686 15.2852 105.46C14.6788 105.234 14.1553 104.828 13.7847 104.294C13.4142 103.761 13.2142 103.126 13.2114 102.475L13.2351 102.47ZM19.4326 102.47V102.454C19.4453 101.814 19.6444 101.193 20.0051 100.666C20.3658 100.139 20.8722 99.7312 21.4615 99.4919C22.0507 99.2526 22.6968 99.1929 23.3194 99.3202C23.9421 99.4475 24.5138 99.7561 24.9637 100.208L24.1209 101.213C23.7181 100.782 23.162 100.53 22.5748 100.513C21.5555 100.513 20.8233 101.38 20.8233 102.44V102.459C20.8233 103.52 21.5397 104.403 22.5748 104.403C23.2649 104.403 23.6889 104.119 24.1551 103.679L25.0006 104.554C24.5775 105.046 24.0153 105.397 23.389 105.559C22.7627 105.721 22.1022 105.686 21.4958 105.46C20.8894 105.234 20.3659 104.828 19.9954 104.294C19.6248 103.761 19.4248 103.126 19.4221 102.475L19.4326 102.47ZM26.0752 99.3566H28.8381C29.1587 99.3366 29.4801 99.3819 29.7828 99.4899C30.0856 99.5979 30.3636 99.7663 30.6002 99.9851C30.7763 100.174 30.9136 100.396 31.004 100.639C31.0944 100.881 31.1362 101.139 31.127 101.398V101.417C31.1487 101.835 31.0338 102.25 30.7999 102.596C30.5659 102.943 30.2256 103.203 29.8311 103.337L31.3061 105.548H29.7521L28.4457 103.567H27.3921V105.548H26.0752V99.3566ZM28.7512 102.364C29.3992 102.364 29.7705 102.011 29.7705 101.489V101.478C29.7705 100.895 29.3728 100.595 28.717 100.595H27.4V102.372L28.7512 102.364Z"
                                    fill="white" />
                                <path
                                    d="M32.3096 99.3564H36.8688V100.568H33.6318V101.822H36.4816V103.034H33.6318V104.336H36.9136V105.545H32.3096V99.3564Z"
                                    fill="white" />
                                <path
                                    d="M38.0935 99.3564H40.4508C42.3498 99.3564 43.6615 100.682 43.6615 102.435V102.454C43.6615 104.196 42.3446 105.548 40.4508 105.548H38.0935V99.3564ZM40.4508 104.318C40.6953 104.33 40.9398 104.291 41.1681 104.202C41.3964 104.113 41.6035 103.976 41.7756 103.801C41.9478 103.626 42.0811 103.416 42.1669 103.185C42.2527 102.954 42.289 102.708 42.2735 102.462V102.446C42.2865 102.2 42.2485 101.955 42.1618 101.725C42.0751 101.495 41.9417 101.286 41.7701 101.112C41.5984 100.937 41.3924 100.8 41.1652 100.71C40.9381 100.62 40.6947 100.579 40.4508 100.589H39.4236V104.32L40.4508 104.318Z"
                                    fill="white" />
                                <path
                                    d="M44.9047 99.3564H46.2348V105.545H44.9047V99.3564ZM49.1504 100.613H47.312V99.3564H52.319V100.613H50.4806V105.545H49.1504V100.613ZM53.3357 99.3564H57.8949V100.568H54.6579V101.822H57.5077V103.034H54.6579V104.336H57.9396V105.545H53.3357V99.3564Z"
                                    fill="white" />
                                <path
                                    d="M59.1196 99.3564H61.4769C63.376 99.3564 64.6876 100.682 64.6876 102.435V102.454C64.6876 104.196 63.3707 105.548 61.4769 105.548H59.1196V99.3564ZM61.4769 104.318C61.7215 104.33 61.9659 104.291 62.1942 104.202C62.4226 104.113 62.6296 103.976 62.8017 103.801C62.9739 103.626 63.1072 103.416 63.193 103.185C63.2788 102.954 63.3151 102.708 63.2996 102.462V102.446C63.3126 102.2 63.2746 101.955 63.1879 101.725C63.1012 101.495 62.9678 101.286 62.7962 101.112C62.6246 100.937 62.4185 100.8 62.1914 100.71C61.9642 100.62 61.7208 100.579 61.4769 100.589H60.4497V104.32L61.4769 104.318ZM14.0964 107.706H16.9041C17.1905 107.688 17.4778 107.726 17.7491 107.821C18.0205 107.915 18.2704 108.063 18.4844 108.255C18.6219 108.394 18.7295 108.56 18.8007 108.742C18.8718 108.925 18.9049 109.12 18.8979 109.316V109.335C18.9048 109.608 18.8341 109.878 18.6942 110.113C18.5543 110.348 18.3509 110.538 18.1077 110.66C18.8057 110.926 19.2377 111.35 19.2377 112.182V112.201C19.2377 113.333 18.3395 113.898 16.9752 113.898H14.0964V107.706ZM16.617 110.21C17.2043 110.21 17.5757 110.016 17.5757 109.555V109.536C17.5757 109.13 17.2649 108.9 16.7039 108.9H15.387V110.207L16.617 110.21ZM16.9699 112.702C17.5573 112.702 17.9102 112.49 17.9102 112.031V112.015C17.9102 111.599 17.6073 111.344 16.9251 111.344H15.3922V112.705L16.9699 112.702ZM20.2333 111.244V107.706H21.5502V111.209C21.5502 112.217 22.0427 112.739 22.854 112.739C23.6652 112.739 24.1577 112.235 24.1577 111.254V107.706H25.4747V111.199C25.4747 113.073 24.4475 113.993 22.825 113.993C21.2025 113.993 20.2096 113.065 20.2096 111.244H20.2333ZM26.4413 112.994L27.2314 112.029C27.7209 112.494 28.3629 112.762 29.0356 112.782C29.5782 112.782 29.9075 112.559 29.9075 112.198V112.18C29.9075 111.835 29.6994 111.649 28.6906 111.384C27.4738 111.066 26.6889 110.721 26.6889 109.494V109.475C26.6889 108.351 27.5686 107.619 28.796 107.619C29.6139 107.609 30.4089 107.891 31.04 108.414L30.3526 109.433C29.9007 109.071 29.3488 108.858 28.7723 108.823C28.2639 108.823 27.9953 109.061 27.9953 109.353V109.372C27.9953 109.777 28.2587 109.902 29.299 110.186C30.5238 110.512 31.2165 110.963 31.2165 112.042V112.06C31.2165 113.291 30.2999 113.98 28.9961 113.98C28.0486 113.983 27.1339 113.631 26.4308 112.991"
                                    fill="white" />
                                <path
                                    d="M32.4386 107.707H33.7687V113.896H32.4386V107.707ZM35.2779 107.707H36.5053L39.3367 111.517V107.707H40.6484V113.896H39.5184L36.5922 109.961V113.896H35.2779V107.707ZM42.097 107.707H46.6562V108.919H43.4192V110.173H46.2664V111.385H43.4192V112.684H46.6983V113.896H42.097V107.707Z"
                                    fill="white" />
                                <path
                                    d="M47.4674 112.994L48.2576 112.029C48.7471 112.494 49.3891 112.762 50.0618 112.782C50.6044 112.782 50.9336 112.559 50.9336 112.199V112.18C50.9336 111.835 50.7255 111.65 49.7167 111.384C48.4999 111.066 47.715 110.722 47.715 109.494V109.475C47.715 108.351 48.5947 107.619 49.8221 107.619C50.64 107.609 51.435 107.891 52.0661 108.415L51.3761 109.433C50.9242 109.071 50.3723 108.858 49.7958 108.823C49.2848 108.823 49.0056 109.062 49.0056 109.353V109.372C49.0056 109.778 49.269 109.902 50.3094 110.186C51.5341 110.512 52.2268 110.963 52.2268 112.042V112.061C52.2268 113.291 51.3129 113.98 50.0091 113.98C49.0615 113.984 48.1469 113.631 47.4437 112.991L47.4674 112.994ZM52.9037 112.994L53.6939 112.029C54.1833 112.494 54.8253 112.762 55.4981 112.782C56.0433 112.782 56.3699 112.559 56.3699 112.199V112.18C56.3699 111.835 56.1618 111.65 55.153 111.384C53.9362 111.066 53.1513 110.722 53.1513 109.494V109.475C53.1513 108.351 54.031 107.619 55.2584 107.619C56.0763 107.609 56.8714 107.891 57.5024 108.415L56.815 109.433C56.3631 109.071 55.8112 108.858 55.2347 108.823C54.7263 108.823 54.4445 109.062 54.4445 109.353V109.372C54.4445 109.778 54.7079 109.902 55.7614 110.186C56.9862 110.512 57.6789 110.963 57.6789 112.042V112.061C57.6789 113.291 56.7649 113.98 55.4612 113.98C54.5136 113.984 53.5989 113.631 52.8958 112.991"
                                    fill="white" />
                                <path
                                    d="M50.8414 59.293H20.7996L19.7092 62.9231H27.7135L29.2411 67.932H42.4025L43.9249 62.9231H51.9318L50.8414 59.293Z"
                                    fill="#015A75" />
                                <path
                                    d="M25.7012 38.8993C24.5949 40.4414 24.1402 42.3618 24.4363 44.2405C24.7324 46.1193 25.7554 47.8035 27.2815 48.9251L34.4693 54.2045C34.8505 54.4856 35.1059 54.907 35.18 55.3768C35.254 55.8467 35.1405 56.3269 34.8644 56.713L35.9495 57.5085L39.7475 52.2052C40.6271 50.9837 41.1009 49.5137 41.1014 48.005C41.1014 47.6223 41.0714 47.2402 41.0118 46.8622C40.8679 45.9313 40.5425 45.0383 40.0543 44.2346C39.5661 43.4309 38.9248 42.7324 38.1672 42.1794L30.9768 36.9C30.7873 36.7615 30.627 36.5866 30.5049 36.3855C30.3829 36.1843 30.3016 35.9609 30.2656 35.7279C30.2505 35.6324 30.2425 35.5357 30.2419 35.4389C30.2389 35.0582 30.357 34.6865 30.5791 34.3783L29.4992 33.5828L25.7012 38.8993ZM30.026 17.6862C28.748 19.4593 28.0611 21.5944 28.0637 23.785C28.0636 24.34 28.1067 24.8941 28.1928 25.4423C28.401 26.7926 28.8729 28.088 29.5813 29.2535C30.2897 30.4191 31.2206 31.4318 32.3201 32.2331L41.3568 38.8622C41.9458 39.2916 42.4446 39.8341 42.8243 40.4585C43.204 41.0829 43.4572 41.7768 43.5693 42.5002C43.6152 42.7932 43.6381 43.0893 43.6378 43.3859C43.6373 44.5594 43.2685 45.7027 42.5842 46.6527L43.4508 47.2864L50.5701 37.3083C52.1741 35.072 52.8335 32.2872 52.4041 29.5629C51.9747 26.8385 50.4915 24.3961 48.2786 22.7694L37.3744 14.7535C36.6889 14.2524 36.2292 13.4977 36.0963 12.6553C35.9634 11.8129 36.1683 10.952 36.6659 10.2617L35.7994 9.62793L30.026 17.6862ZM11.5889 70.9602H19.8066C21.832 70.9602 23.4281 71.525 24.4422 72.5512C24.8413 72.9481 25.155 73.4233 25.3639 73.9475C25.5728 74.4716 25.6723 75.0334 25.6564 75.5979V75.6483C25.6564 77.6715 24.6028 78.7984 23.3254 79.5144C25.3772 80.3099 26.6441 81.511 26.6441 83.9187V83.9771C26.6441 87.2518 24.0102 88.8932 20.0094 88.8932H11.5889V70.9602ZM18.9637 78.2071C20.6863 78.2071 21.7741 77.645 21.7741 76.3112V76.2608C21.7741 75.0835 20.8628 74.4047 19.2166 74.4047H15.3738V78.1939L18.9637 78.2071ZM20.0173 85.4248C21.7398 85.4248 22.7776 84.8097 22.7776 83.4812V83.4282C22.7776 82.2243 21.89 81.4819 19.8803 81.4819H15.3738V85.4248H20.0173ZM28.3403 70.9602H36.5711C38.5992 70.9602 40.1927 71.525 41.2067 72.5512C41.6057 72.9481 41.9193 73.4234 42.1282 73.9475C42.3371 74.4717 42.4367 75.0334 42.4209 75.5979V75.6483C42.4209 77.6715 41.3674 78.7984 40.0926 79.5144C42.1444 80.3099 43.4086 81.511 43.4086 83.9187V83.9771C43.4086 87.2518 40.7748 88.8932 36.7739 88.8932H28.3456V70.9602H28.3403ZM35.7388 78.2071C37.4614 78.2071 38.5518 77.645 38.5518 76.3112V76.2608C38.5518 75.0835 37.6405 74.4047 35.9943 74.4047H32.1331V78.1939L35.7388 78.2071ZM36.7766 85.4248C38.4991 85.4248 39.5368 84.8097 39.5368 83.4812V83.4282C39.5368 82.2243 38.6492 81.4819 36.6396 81.4819H32.1331V85.4248H36.7766ZM45.1048 70.9602H53.3356C55.3611 70.9602 56.9572 71.525 57.9712 72.5512C58.3703 72.9481 58.6841 73.4233 58.893 73.9475C59.1018 74.4716 59.2014 75.0334 59.1855 75.5979V75.6483C59.1855 77.6715 58.1319 78.7984 56.8545 79.5144C58.9063 80.3099 60.1732 81.511 60.1732 83.9187V83.9771C60.1732 87.2518 57.5393 88.8932 53.5358 88.8932H45.1075V70.9602H45.1048ZM52.5007 78.2071C54.2206 78.2071 55.311 77.645 55.311 76.3112V76.2608C55.311 75.0835 54.3997 74.4047 52.7536 74.4047H48.9029V78.1939L52.5007 78.2071ZM53.5385 85.4248C55.261 85.4248 56.2987 84.8097 56.2987 83.4812V83.4282C56.2987 82.2243 55.4111 81.4819 53.4015 81.4819H48.9029V85.4248H53.5385Z"
                                    fill="#015A75" />
                            </svg>

                        </figure>








                       
  </div>
                      {% endif %} 
                    
                         
                        
              
                               


                                                    
                  {% endfor %}
                    </div>


                                                    
            </div>
         {% if section.settings.show_icons != true %}
            <div class="sub_footer" style="display:none">
                <p>©2021 Great Lakes Bio Systems, Inc. All Rights Reserved</p>
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p1_43f5b0f6-8d4a-4f6f-9ed9-5e72c9f3a6b2.jpg?v=1665146073" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p2.jpg?v=1665146077" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p3.jpg?v=1665146083" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p4.jpg?v=1665146087" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p5.jpg?v=1665146091" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p6.jpg?v=1665146097" alt="">
                        </a>
                    </li>
                </ul>
            </div>
                                  {% else %}
     <div class="sub_footer" style="display:flex">
                <p>©2021 Great Lakes Bio Systems, Inc. All Rights Reserved</p>
                <ul>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p1_43f5b0f6-8d4a-4f6f-9ed9-5e72c9f3a6b2.jpg?v=1665146073" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p2.jpg?v=1665146077" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p3.jpg?v=1665146083" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p4.jpg?v=1665146087" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p5.jpg?v=1665146091" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0313/4328/0264/files/p6.jpg?v=1665146097" alt="">
                        </a>
                    </li>
                </ul>
            </div>
    {% endif %}

        </div>
    </footer>
                                  
{% schema %}
  {
    "name": "gl-footer",
    "settings": [
       {
       "type": "image_picker",
        "id": "logo",
        "label": "Company logo image"
      },
      {
      "type": "text",
      "id": "add",
      "label": "Address ",
      "default":"13916 Leetsbir Rd  Sturtevant, WI 53177"
     },  
      {
      "type": "text",
      "id": "pho",
      "label": "Contact Number",
       "default":"(800) 236-1366"
     }, 
      {
      "type": "text",
      "id": "fex",
      "label": "fex Number ",
      "default":"(262) 884-9317 Fax"
     },
      {
      "type": "text",
      "id": "email",
      "label": "Email Id",
       "default":"sales@greatlakesbio.com"
     },
      {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Enable Social Media Icons ",
      "default": true
     },
      {
      "type": "checkbox",
      "id": "pay_icons",
      "label": "Enable payment Icons ",
      "default": true
     }
    ],
    
    "blocks": [
        {
        "type": "slide",
        "name": "Slide",
        "limit": 4,
        "settings": [
            { 
          "type":"link_list",
          "id":"menu_link_o",
          "label":"footer Menu-1"
        }
            ]
            },
            {
            "type": "newsletter",
            "name": "newsletter",
            "limit": 1,
            "settings": [
                  
                ]
                },
                  {
                  "type": "info",
                  "name": "info",
                  "limit": 1,
                  "settings": [
                      {
                    "type":"link_list",
                    "id":"menu_link_th",
                    "label":"footer Menu-3"
                  }
                  ]
                }
              ],


    "presets": [
    {
      "name": "gl-footer",
      "category": "ADVANCED LAYOUT"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}